@use "../../style/colors.scss" as *;

.notes-page {
    padding: 2rem;
    text-align: center;

    & h2 {
        padding-bottom: 2rem;
    }

    &__list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        text-align: unset;
    }
}
